@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Zodiak';
    src: url('/fonts/zodiak.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$prim-col: #41C67E;
$sec-color: #19474E;
$description-col: #5D6A6A;

@mixin button ($bk, $w, $br) {
    width: 90%;
    padding: 20px;
    color: #fff;
    background-color: $bk;
    font-size: 18px;
    font-weight: $w;
    border-radius: 50px;
    border: $br;
}

@mixin flex ($d, $a, $g) {
    display: flex;
    flex-direction: $d;
    align-items: $a;
    gap: $g;
}