* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$prim-col: #41C67E;
$sec-color: #19474E;
$description-col: #5D6A6A;

@mixin button ($bk, $w, $br) {
    width: 90%;
    padding: 20px;
    color: #fff;
    background-color: $bk;
    font-size: 18px;
    font-weight: $w;
    border-radius: 50px;
    border: $br;
    cursor: pointer;
    transition: transform .3s;

    &:hover {
        transform: scale(0.97);
    }
}

@mixin flex ($d, $a, $g) {
    display: flex;
    flex-direction: $d;
    align-items: $a;
    gap: $g;
}