@use 'extras' as e;

h1,
h2,
h3 {
    color: #fff;
    font-family: 'Zodiak', sans-serif;
}

p {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}

@media screen and (max-width: 600px) {
    .donate-btn {
        display: block;
        margin: 0 auto;
        cursor: pointer;
        @include e.button (e.$prim-col, 600, e.$prim-col);
        transition: transform .3s;

        &:hover {
            transform: scale(0.97);
        }
    }

    .first-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/image-background-main-desktop.jpg);
        background-position: center center;
        filter: brightness(90%);
        background-size: cover;

        header {
            padding: 25px 15px 0;

            nav {
                @include e.flex (row, center, 33%);

                img {
                    transition: transform .3s;

                    &:hover {
                        transform: scale(0.95);
                    }
                }

                div {
                    cursor: pointer;
                    width: 16%;
                    padding: 15px;
                    display: inline-block;
                    text-align: center;
                    background-color: e.$prim-col;
                    border-radius: 33px;
                    border-collapse: separate;
                    transition: transform .3s;

                    &:hover {
                        transform: scale(0.93);
                    }
                }
            }
        }

        main {
            padding-top: 60px;

            h1 {
                font-size: 32px;
                text-align: center;
                width: 90%;
                margin: 0 auto;
            }

            p {
                text-align: center;
                line-height: 1.6;
                font-size: 18px;
                margin-top: 20px;
                margin-bottom: 35px;
            }

            div {
                @include e.flex (column, center, 20px);
                padding-bottom: 110px;

                .btn2 {
                    transition: transform .3s;
                    cursor: pointer;
                    @include e.button (transparent, 400, #fff 1.7px solid);

                    &:hover {
                        @include e.button (e.$prim-col, 400, e.$prim-col 1.7px solid);
                        transform: scale(0.97);
                    }
                }
            }
        }
    }

    .subheading {
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.7px;
        font-size: 18px;
        color: e.$prim-col;
    }

    .sub-description {
        color: e.$description-col;
        font-size: 1.125rem;
        text-align: center;
        margin: 15px auto 0;
        line-height: 1.6;
    }

    .achievements {
        padding-top: 70px;

        h2 {
            text-align: center;
            font-size: 1.625rem;
            color: e.$sec-color;
            width: 85%;
            margin: 10px auto 0;
        }

        p {
            width: 90%;
            font-weight: 400;
        }

        button {
            margin-top: 35px;
            padding: 18px 0;
        }

        hr {
            color: #dae5e4;
            margin: 50px auto;
            width: 80%;
            border-bottom: 0;
        }

        .achievements-grid {
            h3 {
                color: #19474e;
            }

            p {
                color: #5d6a6a;
            }
        }
    }
}