@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Zodiak";
  src: url("./fonts/zodiak.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
h1,
h2,
h3,
h4 {
  font-family: "Zodiak", sans-serif;
  color: #19474E;
}

p {
  color: #5D6A6A;
  font-family: "DM Sans", sans-serif;
}

hr {
  color: #dae5e4;
  margin: 50px auto;
  width: 80%;
  border-bottom: 0;
}

a {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .donate-btn {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    color: #fff;
    background-color: #41C67E;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    border: #41C67E;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .donate-btn:hover {
    transform: scale(0.97);
  }

  body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/image-background-main-desktop.jpg), #fff;
    background-position: -300px -40px, -300px -40px, center bottom;
    background-repeat: no-repeat;
    filter: brightness(90%);
    background-size: 270%;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    padding: 0 15px 0;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33%;
  }
  header nav img {
    transition: transform 0.3s;
  }
  header nav img:hover {
    transform: scale(0.95);
  }
  header nav div {
    cursor: pointer;
    width: 16%;
    padding: 15px;
    display: inline-block;
    text-align: center;
    background-color: #41C67E;
    border-radius: 100%;
    border-collapse: separate;
    transition: transform 0.3s;
  }
  header nav div:hover {
    transform: scale(0.93);
  }

  header.active {
    background-color: #142a31;
    transition: background-color 2700ms linear;
  }

  .ham-menu {
    display: none;
    position: absolute;
    height: 100vh;
    background-color: #142a31;
    top: 0;
    width: 100vw;
    padding: 150px 0 0 15px;
  }
  .ham-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 20px;
  }
  .ham-menu ul li {
    font-size: 22px;
  }
  .ham-menu ul li a {
    transition: color 150ms linear;
  }
  .ham-menu ul li a:hover {
    color: #41C67E;
  }
  .ham-menu button {
    position: absolute;
    top: 77.3195876289vh;
    padding: 25px 0;
  }

  .first-section main {
    padding-top: 60px;
  }
  .first-section main h1 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
  }
  .first-section main p {
    color: #fff;
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
    width: 91vw;
    margin: 20px auto 35px;
  }
  .first-section main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 110px;
  }
  .first-section main div .btn2 {
    width: 90%;
    padding: 20px;
    color: #fff;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    border: #fff 1.7px solid;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .first-section main div .btn2:hover {
    transform: scale(0.97);
  }
  .first-section main div .btn2:hover {
    width: 90%;
    padding: 20px;
    color: #fff;
    background-color: #41C67E;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    border: #41C67E 1.7px solid;
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(0.97);
  }
  .first-section main div .btn2:hover:hover {
    transform: scale(0.97);
  }

  .subheading {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.7px;
    font-size: 18px;
    color: #41C67E;
  }

  .main-heading {
    text-align: center;
    font-size: 1.56rem;
    color: #19474E;
    width: 85%;
    margin: 10px auto 0;
  }

  .sub-description {
    color: #5D6A6A;
    font-size: 1.125rem;
    text-align: center;
    margin: 15px auto 0;
    line-height: 1.6;
  }

  .achievements {
    background-color: #fff;
    padding: 70px 0 70px;
  }
  .achievements p {
    width: 90%;
    font-weight: 400;
  }
  .achievements button {
    margin-top: 35px;
    padding: 18px 0;
  }
  .achievements .achievements-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .achievements .achievements-grid div {
    text-align: center;
    align-items: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .achievements .achievements-grid div img {
    width: 48%;
  }
  .achievements .achievements-grid h3 {
    margin-top: 15px;
    color: #19474e;
  }
  .achievements .achievements-grid p {
    color: #5d6a6a;
  }

  .about-us {
    padding: 70px 0 70px;
    background-color: #f7f7f7;
  }
  .about-us .video-container {
    width: 93%;
    margin: 30px auto 40px;
    text-align: center;
  }
  .about-us .video-container img {
    filter: brightness(55%);
    border-radius: 15px;
    width: 100%;
  }
  .about-us .video-container button {
    z-index: 1;
    width: 90%;
    padding: 20px;
    color: #fff;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    color: #19474E;
    display: flex;
    margin: 0 auto 0;
    position: relative;
    top: 132px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    box-shadow: 0px 8px 35px 30px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  .about-us .video-container button:hover {
    transform: scale(0.97);
  }
  .about-us .video-container button:hover ~ .thumbnail-img {
    transform: scale(1.02);
  }
  .about-us .video-container button p {
    display: inline;
  }
  .about-us .aboutUs-btn {
    box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
    width: 90%;
    padding: 20px;
    color: #fff;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    border: #fff;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 20px auto 0;
    color: #19474e;
    display: block;
  }
  .about-us .aboutUs-btn:hover {
    transform: scale(0.97);
  }
  .about-us .aboutUs-btn:hover {
    color: #fff;
    background-color: #41C67E;
  }

  .what-we-do {
    padding: 70px 0 70px;
    background-color: #ebf3ec;
  }
  .what-we-do .objectives-wrapper {
    display: flex;
    flex-direction: column;
    align-items: none;
    gap: 30px;
    background-color: #ebf3ec;
  }
  .what-we-do .objectives-wrapper .objective-card {
    padding: 40px 20px 30px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    width: 92%;
    background-color: #fff;
  }
  .what-we-do .objectives-wrapper .objective-card img {
    width: 33%;
  }
  .what-we-do .objectives-wrapper .objective-card h4 {
    font-size: 1.25rem;
  }
  .what-we-do .objectives-wrapper .objective-card p {
    font-size: 18px;
    line-height: 1.6;
  }
  .what-we-do button {
    margin-top: 40px;
  }

  .our-partners-wrapper {
    padding-bottom: 70px;
    background-color: #fff;
  }
  .our-partners-wrapper .our-partners {
    margin: 0 auto;
    width: 93%;
    background-color: #1a6855;
    border-radius: 20px;
    padding: 70px 0 70px;
    text-align: center;
  }
  .our-partners-wrapper .our-partners h2 {
    margin: 4.5% 10.1% 0;
    font-size: 1.625rem;
    color: #fff;
  }
  .our-partners-wrapper .our-partners .partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 55px;
  }
  .our-partners-wrapper .our-partners .partners svg {
    height: 31px;
  }
  .our-partners-wrapper .our-partners button {
    margin-top: 40px;
  }

  footer {
    background-color: #fff;
  }
  footer > img {
    display: block;
    width: 100%;
  }
  footer .text,
footer .socials,
footer .copyright {
    background-color: #142a31;
  }
  footer .text {
    padding: 20px 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 28px;
  }
  footer .text p {
    font-size: 18px;
    color: #fff;
  }
  footer .text button {
    margin: 0;
    padding: 14px 0;
    width: 95.7%;
  }
  footer .text hr {
    width: 95%;
    color: #22373d;
    border-style: solid;
    margin: 30px auto 35px;
  }
  footer .socials {
    padding-left: 15px;
    display: flex;
    flex-direction: unset;
    align-items: unset;
    gap: 15px;
  }
  footer .socials a {
    border-radius: 100%;
    width: 42px;
    height: 42px;
    background-color: #2c4046;
    display: flex;
    flex-direction: auto;
    align-items: center;
    gap: 0;
    justify-content: center;
  }
  footer .socials a img {
    height: 15px;
  }
  footer .socials a:hover {
    background-color: #41C67E;
    transition: background-color 200ms linear;
  }
  footer .copyright {
    padding: 30px 0 0 15px;
  }
  footer .copyright p {
    font-size: 16px;
    color: white;
    padding-bottom: 10px;
  }
  footer .copyright p span {
    font-size: 18px;
    text-decoration: underline;
  }
}

/*# sourceMappingURL=styles.css.map */
